# Node modules
node_modules/

# Environment variables
server/.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
client/node_modules/
server/node_modules/

# Build directories
client/build/
server/dist/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

