.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 1rem 2rem;
  color: #90A1B9;
  background: none;
  box-sizing: border-box;
}

.site-footer p {
  margin: 0;
}